@import "./base.css";

/* Default values for all elements:
 rounded-xl
 All btn: 
 tracking-wide uppercase

*/
.stopwatch {
    @apply px-4;
}

.btn {
    @apply flex flex-row items-center justify-center text-sm py-3 px-4 font-medium cursor-pointer rounded-xl text-white outline outline-2 transition-all tracking-wide uppercase;
}

.btn--primary-emerald {
    @apply min-w-32 bg-emerald-700 hover:bg-emerald-600;
}

.btn--primary-red {
    @apply min-w-32 bg-red-700 hover:bg-red-600;
}

.btn--gray {
    @apply min-w-32 bg-gray-800 hover:bg-gray-700;
}

.btn--disabled {
    @apply disabled:bg-gray-500 disabled:cursor-not-allowed;
}

.burger-btn {
    @apply inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-xl md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600;
}

.btn--auth {
    @apply flex w-full items-center justify-center bg-emerald-700 leading-6 text-white shadow-lg hover:bg-emerald-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600 disabled:bg-gray-600;
}

.console {
    @apply sm:w-full md:w-8/12 max-h-52 overflow-y-scroll text-sm mb-5 p-3 flex flex-col rounded-xl bg-gray-100 text-black;
}

.link {
    @apply flex items-center py-2 px-3 md:p-0 text-black rounded-lg md:dark:hover:bg-transparent hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-transparent md:border-0;
}

.navlink {
    @apply md:hover:text-emerald-700 dark:text-white md:dark:hover:text-emerald-50;
}

/* * Utilities  */
@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;

        /* Для Firefox */
        &::-webkit-scrollbar {
            width: 6px;
            height: 12px;
            border-radius: 999px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #111827;
            border-radius: 9999px;
        }

        &::-webkit-scrollbar-track {
            background-color: #f0f0f0;
        }
    }

    .scrollbar-none {
        scrollbar-width: none;

        /* Для Firefox */
        &::-webkit-scrollbar {
            display: none;
            /* Для Chrome, Safari */
        }
    }
}